
<!-- <router-outlet></router-outlet> -->
<enl-Tavisca-Orxe3-Library></enl-Tavisca-Orxe3-Library>
<enl-tavisca-button color='warn' Disabled=true></enl-tavisca-button>
<enl-tavisca-input></enl-tavisca-input>
<h3>Auto-Suggest</h3>
  <enl-autosuggest [options]="autosuggestOptions" [config]="autosuggestConfig" (selected)="selectedAutosuggestOption($event)"></enl-autosuggest>
<div>
<h3>Datepicker</h3>
<mat-form-field class="example-full-width">
  <input matInput placeholder="MM/DD/YYYY" (click)="showDate = !showDate">
</mat-form-field>
<enl-calendar *ngIf="showDate" [calendarConfig]="calendarConfig" (datesSelected)="selectedDate($event)"></enl-calendar>
</div>

